<div class="row">
  <div class="small-12 columns">
    <h2 class="text-center">Cardio History</h2>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-8 medium-offset-2 columns">
    <%= render partial: 'cardio_chart' %>
  </div>
</div>

<div class="row">
  <div class="small-6 medium-4 medium-offset-2 columns">
    <%= link_to "Log new cardio", new_prep_cardio_path(@prep), class: "expanded button" %>
  </div>
  <div class="small-6 medium-4 columns end">
    <%= link_to "Back to Prep Home", @prep, class: "expanded button" %>
  </div>
</div>


<div class="row">
  <div class="small-12 medium-8 medium-offset-2 columns text-center">
    <div class="data-table text-center" id="target-cardio-table">
      <table>
        <h3>Target Cardio Log</h3>
          <%= link_to "Last 10 Entries - Click to See All Data", '#', class: 'list-toggle hide'%>
        <tr>
          <th>Date</th>
          <th>Activity</th>
          <th>Duration (min)</th>
          <th>Style</th>
        </tr>
          <% @target_cardios.each do |tc| %>
            <tr class="hide">
              <td><%= tc.created_at.strftime('%D') %></td>
              <td><%= tc.activity %></td>
              <td><%= tc.duration %></td>
              <td><%= tc.style %></td>
            </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-8 medium-offset-2 columns text-center">
    <div class="data-table text-center" id="cardio-table">
      <table>
        <h3>Cardio Log</h3>
          <%= link_to "Last 10 Entries - Click to See All Data", '#', class: 'list-toggle hide'%>
        <tr>
          <th>Date</th>
          <th>Activity</th>
          <th>Duration (min)</th>
          <th>Style</th>
        </tr>
          <% @cardios.each do |c| %>
            <tr class="hide">
              <td><%= c.created_at.strftime('%D') %></td>
              <td><%= c.activity %></td>
              <td><%= c.duration %></td>
              <td><%= c.style %></td>
            </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>
